<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Character Detail</title>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="small">
      <h3>D&amp;D 5版 キャラクターシート</h3>


      <form action="#" th:action="@{/chara_save}"
        th:object="${playerChara}" method="POST">

        <div class="row justify-content-between">
          <div class="col-1">
            <input type="submit" value="保存">
          </div>
          <div class="col-3">
            <a href="" th:href=@{/}>キャラクターリストへ戻る</a>
          </div>
        </div>

        <p>
        <div class="row">
          <div class="col-5">
            キャラクター名 <input class="form-control" id="input1" name="name"
              type="text" value="" th:value="*{name}" />
          </div>
          <div class="col-5">
            クラス <input class="form-control" name="klass" type="text"
              value="" th:value="*{klass}" />
          </div>

          <div class="col-2">
            レベル <input class="form-control" name="level" type="text"
              value="" th:value="*{level}" />
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            プレイヤー <input class="form-control" name="player" type="text"
              value="" th:value="*{player}" />
          </div>

          <div class="col-3">
            種族 <input class="form-control" name="race" type="text"
              value="" th:value="*{race}" />
          </div>
          <div class="col-3">
            属性 <select class="form-control" name="alignment">
              <option value="">---</option>
              <option th:value="秩序にして善" th:text="秩序にして善"
                th:selected="'秩序にして善' == *{alignment}"></option>
              <option th:value="秩序にして中立" th:text="秩序にして中立"
                th:selected="'秩序にして中立' == *{alignment}"></option>
              <option th:value="秩序にして悪" th:text="秩序にして悪"
                th:selected="'秩序にして悪' == *{alignment}"></option>
              <option th:value="中立にして善" th:text="中立にして善"
                th:selected="'中立にして善' == *{alignment}"></option>
              <option th:value="真なる中立" th:text="真なる中立"
                th:selected="'真なる中立' == *{alignment}"></option>
              <option th:value="中立にして悪" th:text="中立にして悪"
                th:selected="'中立にして悪' == *{alignment}"></option>
              <option th:value="混沌にして善" th:text="混沌にして善"
                th:selected="'混沌にして善' == *{alignment}"></option>
              <option th:value="混沌にして中立" th:text="混沌にして中立"
                th:selected="'混沌にして中立' == *{alignment}"></option>
              <option th:value="混沌にして悪" th:text="混沌にして悪"
                th:selected="'混沌にして悪' == *{alignment}"></option>
            </select>
          </div>
          <div class="col-3">
            経験値 <input class="form-control" name="experience"
              type="text" value="" th:value="*{experience}" />
          </div>
        </div>
        <p>
        <div class="row">

          <div class="col-sm-2">
            <div class="row">

              <div class="col">
                習熟ボーナス: <span
                  th:text="*{proficiency_bonus} &gt; 0? '+' + *{proficiency_bonus} :  *{proficiency_bonus}"></span>
              </div>
              <div class="w-100"></div>

              <p>
              <div class="col">
                <input type="checkbox" value="on" name="inspiration"
                  th:field="*{inspiration}" /> インスピレーション
              </div>
              <div class="w-100"></div>

              <p>
              <div class="text-center">
                <div class="col" id="str">
                  <label class="control-label" for="str_input">【筋力】</label>
                  <input class="form-control" id="str_input"
                    name="strength" type="text" size=1 value=""
                    style="text-align: center" th:value="*{strength}" />
                  <span
                    th:text="*{strength_bonus} &gt; 0? '(+' + *{strength_bonus} + ')':  '(' + *{strength_bonus} + ')'"></span>
                </div>

                <div class="w-100"></div>

                <div class="col" id="dex">
                  <label class="control-label" for="dex_input">【敏捷力】</label>
                  <input class="form-control" id="dex_input"
                    name="dexterity" type="text" size=1 value=""
                    style="text-align: center" th:value="*{dexterity}" />
                  <span
                    th:text="*{dexterity_bonus} &gt; 0? '(+' + *{dexterity_bonus} + ')':  '(' + *{dexterity_bonus} + ')'"></span>
                </div>

                <div class="w-100"></div>

                <div class="col" id="con">
                  <label class="control-label" for="con_input">【耐久力】</label>
                  <input class="form-control" id="con_input"
                    name="constitution" type="text" size=1 value=""
                    style="text-align: center"
                    th:value="*{constitution}" /> <span
                    th:text="*{constitution_bonus} &gt; 0? '(+' + *{constitution_bonus} + ')':  '(' + *{constitution_bonus} + ')'"></span>
                </div>

                <div class="w-100"></div>

                <div class="col" id="int">
                  <label class="control-label" for="int_input">【知力】</label>
                  <input class="form-control" id="int_input"
                    name="intelligence" type="text" size=1 value=""
                    style="text-align: center"
                    th:value="*{intelligence}" /> <span
                    th:text="*{intelligence_bonus} &gt; 0? '(+' + *{intelligence_bonus} + ')':  '(' + *{intelligence_bonus} + ')'"></span>
                </div>

                <div class="w-100"></div>

                <div class="col" id="wis">
                  <label class="control-label" for="wis_input">【判断力】</label>
                  <input class="form-control" id="wis_input"
                    name="wisdom" type="text" size=1 value=""
                    style="text-align: center" th:value="*{wisdom}" />
                  <span
                    th:text="*{wisdom_bonus} &gt; 0? '(+' + *{wisdom_bonus} + ')':  '(' + *{wisdom_bonus} + ')'"></span>
                </div>

                <div class="w-100"></div>

                <div class="col" id="char">
                  <label class="control-label" for="char_input">【魅力】</label>
                  <input class="form-control" id="char_input"
                    name="charisma" type="text" size=1 value=""
                    style="text-align: center" th:value="*{charisma}" />
                  <span
                    th:text="*{charisma_bonus} &gt; 0? '(+' + *{charisma_bonus} + ')':  '(' + *{charisma_bonus} + ')'"></span>
                </div>
              </div>
              <div class="w-100"></div>

              <p>
              <div class="col">
                セーブ
                <table class="table table-sm table-bordered ">
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="strength_save" th:field="*{strength_save}" />
                      <span
                      th:text="*{strength_save_bonus} &gt; 0? '+' + *{strength_save_bonus} :  *{strength_save_bonus}">
                    </span>【筋力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="dexterity_save" th:field="*{dexterity_save}" />
                      <span
                      th:text="*{dexterity_save_bonus} &gt; 0? '+' + *{dexterity_save_bonus} :  *{dexterity_save_bonus}">
                    </span>【敏捷力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="constitution_save"
                      th:field="*{constitution_save}" /> <span
                      th:text="*{constitution_save_bonus} &gt; 0? '+' + *{constitution_save_bonus} :  *{constitution_save_bonus}">
                    </span>【耐久力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="intelligence_save"
                      th:field="*{intelligence_save}" /> <span
                      th:text="*{intelligence_save_bonus} &gt; 0? '+' + *{intelligence_save_bonus} :  *{intelligence_save_bonus}">
                    </span>【知力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="wisdom_save" th:field="*{wisdom_save}" /> <span
                      th:text="*{wisdom_save_bonus} &gt; 0? '+' + *{wisdom_save_bonus} :  *{wisdom_save_bonus}">
                    </span>【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="charisma_save" th:field="*{charisma_save}" />
                      <span
                      th:text="*{charisma_save_bonus} &gt; 0? '+' + *{charisma_save_bonus} :  *{charisma_save_bonus}">
                    </span>【魅力】</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="row">
              <div class="col">
                AC <input class="form-control" name="ac" type="text"
                  size=1 value="" style="text-align: center"
                  th:value="*{ac}" />
              </div>
              <div class="col">
                イニシアチブ <input class="form-control" name="initiative"
                  type="text" size=1 value="" style="text-align: center"
                  th:value="*{initiative}" />
              </div>
              <div class="w-100"></div>

              <div class="col">
                移動速度 <input class="form-control" name="speed"
                  type="text" size=1 value="" style="text-align: center"
                  th:value="*{speed}" />
              </div>

              <div class="col">
                ヒットダイス <select class="form-control" name="hit_dice">
                  <option value="">---</option>
                  <option th:value="d4" th:text="d4"
                    th:selected="'d4' == *{hit_dice}"></option>
                  <option th:value="d6" th:text="d6"
                    th:selected="'d6' == *{hit_dice}"></option>
                  <option th:value="d8" th:text="d8"
                    th:selected="'d8' == *{hit_dice}"></option>
                  <option th:value="d10" th:text="d10"
                    th:selected="'d10' == *{hit_dice}"></option>
                  <option th:value="d12" th:text="d12"
                    th:selected="'d12' == *{hit_dice}"></option>
                </select>
              </div>
              <div class="w-100"></div>

              <div class="col">

                ヒットポイント <input class="form-control" name="hit_point"
                  type="text" size=1 value="" style="text-align: center"
                  th:value="*{hit_point}" />
              </div>

              <p>
              <div class="w-100"></div>

              <p>
              <div class="col">
                技能
                <table class="table table-sm table-bordered ">
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="intimidation" th:field="*{intimidation}" /><span
                      th:text="*{intimidation_bonus} &gt; 0? '+' + *{intimidation_bonus} :  *{intimidation_bonus}">
                    </span>&lt;威圧&gt;【魅力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="medicine" th:field="*{medicine}" /> <span
                      th:text="*{medicine_bonus} &gt; 0? '+' + *{medicine_bonus} :  *{medicine_bonus}">
                    </span>&lt;医術&gt;【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="athletics" th:field="*{athletics}" /> <span
                      th:text="*{athletics_bonus} &gt; 0? '+' + *{athletics_bonus} :  *{athletics_bonus}">
                    </span>&lt;運動&gt;【筋力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="stealth" th:field="*{stealth}" /> <span
                      th:text="*{stealth_bonus} &gt; 0? '+' + *{stealth_bonus} :  *{stealth_bonus}">
                    </span>&lt;隠密&gt;【敏捷力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="acrobatics" th:field="*{acrobatics}" /> <span
                      th:text="*{acrobatics_bonus} &gt; 0? '+' + *{acrobatics_bonus} :  *{acrobatics_bonus}">
                    </span>&lt;軽業&gt;【敏捷力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="insight" th:field="*{insight}" /> <span
                      th:text="*{insight_bonus} &gt; 0? '+' + *{insight_bonus} :  *{insight_bonus}">
                    </span>&lt;看破&gt;【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="performance" th:field="*{performance}" /> <span
                      th:text="*{performance_bonus} &gt; 0? '+' + *{performance_bonus} :  *{performance_bonus}">
                    </span>&lt;芸能&gt;【魅力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="nature" th:field="*{nature}" /> <span
                      th:text="*{nature_bonus} &gt; 0? '+' + *{nature_bonus} :  *{nature_bonus}">
                    </span>&lt;自然&gt;【知力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="religion" th:field="*{religion}" /> <span
                      th:text="*{religion_bonus} &gt; 0? '+' + *{religion_bonus} :  *{religion_bonus}">
                    </span>&lt;宗教&gt;【知力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="survival" th:field="*{survival}" /><span
                      th:text="*{survival_bonus} &gt; 0? '+' + *{survival_bonus} :  *{survival_bonus}">
                    </span>&lt;生存&gt;【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="persuasion" th:field="*{persuasion}" /><span
                      th:text="*{persuasion_bonus} &gt; 0? '+' + *{persuasion_bonus} :  *{persuasion_bonus}">
                    </span>&lt;説得&gt;【魅力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="investigation" th:field="*{investigation}" />
                      <span
                      th:text="*{investigation_bonus} &gt; 0? '+' + *{investigation_bonus} :  *{investigation_bonus}">
                    </span>&lt;捜査&gt;【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="perception" th:field="*{perception}" /> <span
                      th:text="*{perception_bonus} &gt; 0? '+' + *{perception_bonus} :  *{perception_bonus}">
                    </span>&lt;知覚&gt;【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="sleight" th:field="*{sleight}" /> <span
                      th:text="*{sleight_bonus} &gt; 0? '+' + *{sleight_bonus} :  *{sleight_bonus}">
                    </span>&lt;手先の早業&gt;【敏捷力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="animal" th:field="*{animal}" /> <span
                      th:text="*{animal_bonus} &gt; 0? '+' + *{animal_bonus} :  *{animal_bonus}">
                    </span>&lt;動物使い&gt;【判断力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="deception" th:field="*{deception}" /> <span
                      th:text="*{deception_bonus} &gt; 0? '+' + *{deception_bonus} :  *{deception_bonus}">
                    </span>&lt;ペテン&gt;【魅力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="arcana" th:field="*{arcana}" /> <span
                      th:text="*{arcana_bonus} &gt; 0? '+' + *{arcana_bonus} :  *{arcana_bonus}">
                    </span>&lt;魔法学&gt;【知力】</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" value="on"
                      name="history" th:field="*{history}" /> <span
                      th:text="*{history_bonus} &gt; 0? '+' + *{history_bonus} :  *{history_bonus}">
                    </span>&lt;歴史&gt;【知力】</td>
                  </tr>
                </table>
              </div>
              <div class="w-100"></div>
              <div class="col">
                受動【判断力】&lt;知覚&gt;値: <span
                  th:text="*{passive_wisdom_perception}"></span>
              </div>
              <div class="w-100"></div>
              <p>
              <div class="col">
                その他の習熟と言語
                <textarea class="form-control" style="height: 150px;"
                  name="proficiency_language"
                  th:text="*{proficiency_language}"></textarea>
              </div>
            </div>
          </div>

          <div class="col-sm-7">
            <div class="row">
              <div class="col">
                攻撃&amp;呪文発動
                <textarea style="height: 500px;" class="form-control"
                  name="attack_spellcasting"
                  th:text="*{attack_spellcasting}">
              </textarea>
              </div>
              <div class="w-100"></div>
              <div class="col">
                装備
                <textarea class="form-control" style="height: 425px;"
                  name="equipment" th:text="*{equipment}"></textarea>
              </div>
            </div>
          </div>

        </div>
        <p>
        <div class="row">
          <div class="col">
            呪文発動クラス <input class="form-control"
              name="spellcasting_class" type="text" value=""
              th:value="*{spellcasting_class}" />
          </div>
          <div class="col">
            呪文発動能力 <select class="form-control"
              name="spellcasting_ability">
              <option value="">---</option>
              <option th:value="知力" th:text="知力"
                th:selected="'知力' == *{spellcasting_ability}"></option>
              <option th:value="判断力" th:text="判断力"
                th:selected="'判断力' == *{spellcasting_ability}"></option>
              <option th:value="魅力" th:text="魅力"
                th:selected="'魅力' == *{spellcasting_ability}"></option>
            </select>
          </div>
          <div class="col">
            呪文セーヴ難易度
            <p class="value" th:text="*{spell_save_dc}" />
          </div>
          <div class="col">
            呪文攻撃ボーナス
            <p class="value" th:text="*{spell_attack_bonus}" />
          </div>
        </div>
                        
        <p>
        <div style="page-break-before: always">
          <div class="row justify-content-between">
            <div class="col-1">
              <input type="submit" value="保存">
            </div>
            <div class="col-3">
              <a href="" th:href=@{/}>キャラクターリストへ戻る</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              呪文メモ
              <textarea class="form-control" name="spell_note"
                th:text="*{spell_note}" style="min-height: 1200px;"></textarea>
            </div>
          </div>
        </div>

        <div style="page-break-before: always">
          <div class="row justify-content-between">
            <div class="col-1">
              <input type="submit" value="保存">
            </div>
            <div class="col-3">
              <a href="" th:href=@{/}>キャラクターリストへ戻る</a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              年齢 <input class="form-control" name="age" type="text"
                value="" th:value="*{age}" />
            </div>
            <div class="col">
              身長 <input class="form-control" name="height" type="text"
                value="" th:value="*{height}" />
            </div>
            <div class="col">
              体重 <input class="form-control" name="weight" type="text"
                value="" th:value="*{weight}" />
            </div>
            <div class="col">
              目 <input class="form-control" name="eyes" type="text"
                value="" th:value="*{eyes}" />
            </div>
            <div class="col">
              肌 <input class="form-control" name="skin" type="text"
                value="" th:value="*{skin}" />
            </div>
            <div class="col">
              髪 <input class="form-control" name="hair" type="text"
                value="" th:value="*{hair}" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            特徴
            <textarea class="form-control" name="features_traits"
              th:text="*{features_traits}" style="height: 400px;"></textarea>
          </div>
          <div class="col-6">
            人間的特徴
            <textarea class="form-control" name="personality_traits"
              th:text="*{personality_traits}" style="height: 300px;"></textarea>
          </div>
          <div class="col-6">
            尊ぶもの
            <textarea class="form-control" name="ideals"
              th:text="*{ideals}" style="height: 300px;"></textarea>

          </div>
          <div class="col-6">
            関わりの深いもの
            <textarea class="form-control" name="bonds"
              th:text="*{bonds}" style="height: 300px;"></textarea>
          </div>

          <div class="col-6">
            弱み
            <textarea class="form-control" name="flaws"
              th:text="*{flaws}" style="height: 300px;"></textarea>
          </div>
        </div>
        <p>
        <div style="page-break-before: always">
          <div class="row justify-content-between">
            <div class="col-1">
              <input type="submit" value="保存">
            </div>
            <div class="col-3">
              <a href="" th:href=@{/}>キャラクターリストへ戻る</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              キャンペーンノート
              <textarea class="form-control" name="note"
                th:text="*{note}" style="min-height: 1200px;"></textarea>
            </div>
          </div>
        </div>
        <p>
          <input class="btn" type="hidden" name="charaKey" value=""
            th:value="*{charaKey}" />
      </form>

      <p>
      <div class="row justify-content-end">
        <div class="col-1">
          <form action="#" th:action="@{/chara_delete}"
            th:object="${playerChara}" method="GET">
            <input type="hidden" name="charaKey" value=""
              th:value="*{charaKey}" /> <input type="submit" value="削除">
          </form>
        </div>
      </div>

    </div>
  </div>
</body>
</html>