<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Characters</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>

  <div class="container-fluid">

    <div class="page-header">
      <h1>D&amp;D 5版 キャラクターシート</h1>
      <p th:if="${validationError}" th:text="${validationError}">validation
        error</p>
      <p th:if="${errorMessage}" th:text="${errorMessage}">error
        message</p>
    </div>

    <div class="row">

      <div class="col">

        <table class="table table-striped table-bordered">
          <tr>
            <th>キャラクター名</th>
            <th>クラス</th>
            <th>レベル</th>
            <th>プレイヤー</th>
            <th></th>
          </tr>
          <tr th:each="chara : ${charas}">          
            <td>  
              <div th:unless="${chara.deleted}">            
                  <a href="/"
                    th:href=@{/chara_edit(charaKey=${chara.charaKey})}
                    th:text="${chara.name}"></a>                  
              </div>
              <div th:if="${chara.deleted}">            
                  <p th:text="${chara.name}"/>                                                     
              </div>
            </td>
            <td th:text="${chara.klass}" />
            <td th:text="${chara.level}" />
            <td th:text="${chara.player}" />
            <td>
              <div th:if="${chara.deleted}">
               <a href="/" th:href="@{/chara_restore(charaKey=${chara.charaKey})}">復活</a>              
              </div>
              <div th:unless="${chara.deleted}">
               <a href="/" th:href="@{/chara_delete(charaKey=${chara.charaKey})}">削除</a>              
              </div>
            </td>
          </tr>
        </table>


      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-3">
        <a href="/" th:href=@{/chara_create}>新規作成</a>
      </div>
            <div class="col-3">
        <a href="/" th:href=@{/}>キャラクターリスト</a>
      </div>
      <div class="col-3">
        <a href="/" th:href=@{/deleted_chara}>削除されたキャラ</a>
      </div>
      <div class="col-3">
        <a href="/" th:href=@{/campaign_note_list}>キャンペーンメモリスト</a>
      </div>
    </div>
  </div>

</body>
</html>