<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Character Detail</title>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>

  <div class="container-fluid">
    <div class="page-header">     
      <h1>D&amp;D 5版 キャラクターシート(編集ページ)</h1>

      <p th:if="${validationError}" th:text="${validationError}">validation
        error</p>
      <p th:if="${errorMessage}" th:text="${errorMessage}">error
        message</p>
    </div>

    <div class="small">

      <form action="#" th:action="@{/chara_save}"
        th:object="${playerChara}" method="GET">
        <table class="table table-no-border">
          <tr>
            <td id="header">
              <table class="table ">
                <tr>
                  <td><input type="submit" value="保存"></td>
                  <td><a href="" th:href=@{/}>キャラクターリストへ戻る</a></td>
                  <td><a th:if="*{charaKey} != ''" href="/" th:href=@{/chara_view(charaKey=*{charaKey})}>印刷用画面へ</a></td>                  
                </tr>
                <tr>
                  <td id="name"><label class="control-label"
                    for="input1">キャラクター名</label> <input
                    class="form-control" id="input1" name="name"
                    type="text" value="" th:value="*{name}" /></td>
                  <td>
                    <table class="table ">
                      <tr>
                        <td><label class="control-label">クラス</label>
                          <input class="form-control" name="klass"
                          type="text" value="" th:value="*{klass}" /></td>
                        <td><label class="control-label">レベル</label>
                          <input class="form-control" name="level"
                          type="text" value="" th:value="*{level}" /></td>
                        <td><label class="control-label">プレイヤー</label>
                          <input class="form-control" name="player"
                          type="text" value="" th:value="*{player}" /></td>
                      </tr>
                      <tr>
                        <td><label class="control-label">種族</label>
                          <input class="form-control" name="race"
                          type="text" value="" th:value="*{race}" /></td>
                        <td><label class="control-label">属性</label>
                          <select class="form-control" name="alignment">
                            <option value="">---</option>
                            <option th:value="秩序にして善" th:text="秩序にして善"
                              th:selected="'秩序にして善' == *{alignment}"></option>
                            <option th:value="秩序にして中立" th:text="秩序にして中立"
                              th:selected="'秩序にして中立' == *{alignment}"></option>  
                            <option th:value="秩序にして悪" th:text="秩序にして悪"
                              th:selected="'秩序にして悪' == *{alignment}"></option>  
                            <option th:value="中立にして善" th:text="中立にして善"
                              th:selected="'中立にして善' == *{alignment}"></option>
                            <option th:value="真なる中立" th:text="真なる中立"
                              th:selected="'真なる中立' == *{alignment}"></option>  
                            <option th:value="中立にして悪" th:text="中立にして悪"
                              th:selected="'中立にして悪' == *{alignment}"></option>                            
                            <option th:value="混沌にして善" th:text="混沌にして善"
                              th:selected="'混沌にして善' == *{alignment}"></option>  
                            <option th:value="混沌にして中立" th:text="混沌にして中立"
                              th:selected="'混沌にして中立' == *{alignment}"></option>
                            <option th:value="混沌にして悪" th:text="混沌にして悪"
                              th:selected="'混沌にして悪' == *{alignment}"></option>
                        </select></td>
                        <td><label class="control-label">経験値</label>
                          <input class="form-control" name="experience"
                          type="text" value="" th:value="*{experience}" /></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td id="main body">
              <table class="table">
                <tr>
                  <td id="left">
                    <table class="table">
                      <tr>
                        <td id="ability and skill">
                          <table class="table">
                            <tr>
                              <td id="ability">
                                <table class="table"
                                  style="text-align: center">
                                  <tr>
                                    <td id="str"><label
                                      class="control-label"
                                      for="str_input">【筋力】</label> <input
                                      class="form-control"
                                      id="str_input" name="strength"
                                      type="text" size=1 value=""
                                      style="text-align: center"
                                      th:value="*{strength}" /> <span
                                      th:text="*{strength_bonus} &gt; 0? '(+' + *{strength_bonus} + ')':  '(' + *{strength_bonus} + ')'"></span></td>
                                  </tr>
                                  <tr>
                                    <td id="dex"><label
                                      class="control-label"
                                      for="dex_input">【敏捷力】</label> <input
                                      class="form-control"
                                      id="dex_input" name="dexterity"
                                      type="text" size=1 value=""
                                      style="text-align: center"
                                      th:value="*{dexterity}" /> <span
                                      th:text="*{dexterity_bonus} &gt; 0? '(+' + *{dexterity_bonus} + ')':  '(' + *{dexterity_bonus} + ')'"></span></td>
                                  </tr>
                                  <tr>
                                    <td id="con"><label
                                      class="control-label"
                                      for="con_input">【耐久力】</label> <input
                                      class="form-control"
                                      id="con_input" name="constitution"
                                      type="text" size=1 value=""
                                      style="text-align: center"
                                      th:value="*{constitution}" /> <span
                                      th:text="*{constitution_bonus} &gt; 0? '(+' + *{constitution_bonus} + ')':  '(' + *{constitution_bonus} + ')'"></span></td>
                                  </tr>
                                  <tr>
                                    <td id="int"><label
                                      class="control-label"
                                      for="int_input">【知力】</label> <input
                                      class="form-control"
                                      id="int_input" name="intelligence"
                                      type="text" size=1 value=""
                                      style="text-align: center"
                                      th:value="*{intelligence}" /> <span
                                      th:text="*{intelligence_bonus} &gt; 0? '(+' + *{intelligence_bonus} + ')':  '(' + *{intelligence_bonus} + ')'"></span></td>
                                  </tr>
                                  <tr>
                                    <td id="wis"><label
                                      class="control-label"
                                      for="wis_input">【判断力】</label> <input
                                      class="form-control"
                                      id="wis_input" name="wisdom"
                                      type="text" size=1 value=""
                                      style="text-align: center"
                                      th:value="*{wisdom}" /> <span
                                      th:text="*{wisdom_bonus} &gt; 0? '(+' + *{wisdom_bonus} + ')':  '(' + *{wisdom_bonus} + ')'"></span></td>
                                  </tr>
                                  <tr>
                                    <td id="char"><label
                                      class="control-label"
                                      for="char_input">【魅力】</label> <input
                                      class="form-control"
                                      id="char_input" name="charisma"
                                      type="text" size=1 value=""
                                      style="text-align: center"
                                      th:value="*{charisma}" /> <span
                                      th:text="*{charisma_bonus} &gt; 0? '(+' + *{charisma_bonus} + ')':  '(' + *{charisma_bonus} + ')'"></span></td>
                                  </tr>
                                </table>
                              </td>

                              <td id="skill and other">
                                <table class="table">
                                  <tr>
                                    <td id="inspiration"><input
                                      type="checkbox" value="on"
                                      name="inspiration"
                                      th:field="*{inspiration}" />インスピレーション</td>
                                  </tr>
                                  <tr>
                                    <td id="proficiency bonus">
                                      <table>
                                        <tr>
                                          <td
                                            th:text="*{proficiency_bonus} &gt; 0? '+' + *{proficiency_bonus} :  *{proficiency_bonus}">
                                          </td>
                                          <td>習熟ボーナス</td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td id="saving throw"><label>セーヴ</label>
                                      <table
                                        class="table table-sm table-bordered ">
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="strength_save"
                                            th:field="*{strength_save}" />
                                            <span
                                            th:text="*{strength_save_bonus} &gt; 0? '+' + *{strength_save_bonus} :  *{strength_save_bonus}">
                                          </span>【筋力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="dexterity_save"
                                            th:field="*{dexterity_save}" />
                                            <span
                                            th:text="*{dexterity_save_bonus} &gt; 0? '+' + *{dexterity_save_bonus} :  *{dexterity_save_bonus}">
                                          </span>【敏捷力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="constitution_save"
                                            th:field="*{constitution_save}" />
                                            <span
                                            th:text="*{constitution_save_bonus} &gt; 0? '+' + *{constitution_save_bonus} :  *{constitution_save_bonus}">
                                          </span>【耐久力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="intelligence_save"
                                            th:field="*{intelligence_save}" />
                                            <span
                                            th:text="*{intelligence_save_bonus} &gt; 0? '+' + *{intelligence_save_bonus} :  *{intelligence_save_bonus}">
                                          </span>【知力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="wisdom_save"
                                            th:field="*{wisdom_save}" />
                                            <span
                                            th:text="*{wisdom_save_bonus} &gt; 0? '+' + *{wisdom_save_bonus} :  *{wisdom_save_bonus}">
                                          </span>【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="charisma_save"
                                            th:field="*{charisma_save}" />
                                            <span
                                            th:text="*{charisma_save_bonus} &gt; 0? '+' + *{charisma_save_bonus} :  *{charisma_save_bonus}">
                                          </span>【魅力】</td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                  <tr>
                                    <td id="skill"><label>技能</label>
                                      <table
                                        class="table table-sm table-bordered ">
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="intimidation"
                                            th:field="*{intimidation}" /><span
                                            th:text="*{intimidation_bonus} &gt; 0? '+' + *{intimidation_bonus} :  *{intimidation_bonus}">
                                          </span>&lt;威圧&gt;【魅力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="medicine"
                                            th:field="*{medicine}" /> <span
                                            th:text="*{medicine_bonus} &gt; 0? '+' + *{medicine_bonus} :  *{medicine_bonus}">
                                          </span>&lt;医術&gt;【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="athletics"
                                            th:field="*{athletics}" />
                                            <span
                                            th:text="*{athletics_bonus} &gt; 0? '+' + *{athletics_bonus} :  *{athletics_bonus}">
                                          </span>&lt;運動&gt;【筋力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="stealth"
                                            th:field="*{stealth}" /> <span
                                            th:text="*{stealth_bonus} &gt; 0? '+' + *{stealth_bonus} :  *{stealth_bonus}">
                                          </span>&lt;隠密&gt;【敏捷力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="acrobatics"
                                            th:field="*{acrobatics}" />
                                            <span
                                            th:text="*{acrobatics_bonus} &gt; 0? '+' + *{acrobatics_bonus} :  *{acrobatics_bonus}">
                                          </span>&lt;軽業&gt;【敏捷力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="insight"
                                            th:field="*{insight}" /> <span
                                            th:text="*{insight_bonus} &gt; 0? '+' + *{insight_bonus} :  *{insight_bonus}">
                                          </span>&lt;看破&gt;【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="performance"
                                            th:field="*{performance}" />
                                            <span
                                            th:text="*{performance_bonus} &gt; 0? '+' + *{performance_bonus} :  *{performance_bonus}">
                                          </span>&lt;芸能&gt;【魅力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="nature"
                                            th:field="*{nature}" /> <span
                                            th:text="*{nature_bonus} &gt; 0? '+' + *{nature_bonus} :  *{nature_bonus}">
                                          </span>&lt;自然&gt;【知力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="religion"
                                            th:field="*{religion}" /> <span
                                            th:text="*{religion_bonus} &gt; 0? '+' + *{religion_bonus} :  *{religion_bonus}">
                                          </span>&lt;宗教&gt;【知力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="survival"
                                            th:field="*{survival}" /><span
                                            th:text="*{survival_bonus} &gt; 0? '+' + *{survival_bonus} :  *{survival_bonus}">
                                          </span>&lt;生存&gt;【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="persuasion"
                                            th:field="*{persuasion}" /><span
                                            th:text="*{persuasion_bonus} &gt; 0? '+' + *{persuasion_bonus} :  *{persuasion_bonus}">
                                          </span>&lt;説得&gt;【魅力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="investigation"
                                            th:field="*{investigation}" />
                                            <span
                                            th:text="*{investigation_bonus} &gt; 0? '+' + *{investigation_bonus} :  *{investigation_bonus}">
                                          </span>&lt;捜査&gt;【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="perception"
                                            th:field="*{perception}" />
                                            <span
                                            th:text="*{perception_bonus} &gt; 0? '+' + *{perception_bonus} :  *{perception_bonus}">
                                          </span>&lt;知覚&gt;【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="sleight"
                                            th:field="*{sleight}" /> <span
                                            th:text="*{sleight_bonus} &gt; 0? '+' + *{sleight_bonus} :  *{sleight_bonus}">
                                          </span>&lt;手先の早業&gt;【敏捷力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="animal"
                                            th:field="*{animal}" /> <span
                                            th:text="*{animal_bonus} &gt; 0? '+' + *{animal_bonus} :  *{animal_bonus}">
                                          </span>&lt;動物使い&gt;【判断力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="deception"
                                            th:field="*{deception}" />
                                            <span
                                            th:text="*{deception_bonus} &gt; 0? '+' + *{deception_bonus} :  *{deception_bonus}">
                                          </span>&lt;ペテン&gt;【魅力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="arcana"
                                            th:field="*{arcana}" /> <span
                                            th:text="*{arcana_bonus} &gt; 0? '+' + *{arcana_bonus} :  *{arcana_bonus}">
                                          </span>&lt;魔法学&gt;【知力】</td>
                                        </tr>
                                        <tr>
                                          <td><input
                                            type="checkbox" value="on"
                                            name="history"
                                            th:field="*{history}" /> <span
                                            th:text="*{history_bonus} &gt; 0? '+' + *{history_bonus} :  *{history_bonus}">
                                          </span>&lt;歴史&gt;【知力】</td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td id="passive value">
                          <table class="table">
                            <tr>
                              <td th:text="*{passive_wisdom_perception}"></td>
                              <td>受動【判断力】&lt;知覚&gt;値</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td id="other proficiency and language"><label>その他の習熟と言語</label>
                          <textarea class="form-control"
                            name="proficiency_language"
                            th:text="*{proficiency_language}"></textarea>
                        </td>
                      </tr>
                    </table>
                  </td>

                  <td id="center">
                    <table class="table">
                      <tr>
                        <td>
                          <table class="table">
                            <tr>
                              <td><label class="control-label">AC</label>
                                <input class="form-control" name="ac"
                                type="text" size=1 value=""
                                style="text-align: center"
                                th:value="*{ac}" /></td>
                              <td><label class="control-label">イニシアチブ</label>
                                <input class="form-control"
                                name="initiative" type="text" size=1
                                value="" style="text-align: center"
                                th:value="*{initiative}" /></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table class="table">
                            <tr>
                              <td><label class="control-label">移動速度</label>
                                <input class="form-control" name="speed"
                                type="text" size=1 value=""
                                style="text-align: center"
                                th:value="*{speed}" /></td>
                              <td><label class="control-label">ヒットダイス</label>
                                <select class="form-control"
                                name="hit_dice">
                                  <option value="">---</option>
                                  <option th:value="d4" th:text="d4"
                                    th:selected="'d4' == *{hit_dice}"></option>
                                  <option th:value="d6" th:text="d6"
                                    th:selected="'d6' == *{hit_dice}"></option>
                                  <option th:value="d8" th:text="d8"
                                    th:selected="'d8' == *{hit_dice}"></option>
                                  <option th:value="d10" th:text="d10"
                                    th:selected="'d10' == *{hit_dice}"></option>
                                  <option th:value="d12" th:text="d12"
                                    th:selected="'d12' == *{hit_dice}"></option>
                              </select></td>                                                            
                             <td><label class="control-label">ヒットポイント</label>
                                <input class="form-control" name="hit_point"
                                type="text" size=1 value=""
                                style="text-align: center"
                                th:value="*{hit_point}" /></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>攻撃&amp;呪文発動 <textarea
                            style="min-height: 600px;"
                            class="form-control"
                            name="attack_spellcasting"
                            th:text="*{attack_spellcasting}"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>装備 <textarea class="form-control"
                            style="min-height: 640px;" name="equipment"
                            th:text="*{equipment}"></textarea></td>
                      </tr>
                    </table>
                  </td>

                  <td id="right">
                    <table class="table">
                      <tr>
                        <td>人間的特徴<textarea class="form-control"
                            name="personality_traits"
                            th:text="*{personality_traits}"
                            style="min-height: 150px;"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>尊ぶもの<textarea class="form-control"
                            name="ideals" th:text="*{ideals}"
                            style="min-height: 150px;"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>関わりの深いもの<textarea class="form-control"
                            name="bonds" th:text="*{bonds}"
                            style="min-height: 150px;"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>弱み<textarea class="form-control"
                            name="flaws" th:text="*{flaws}"
                            style="min-height: 150px;"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td>特徴<textarea class="form-control"
                            name="features_traits"
                            th:text="*{features_traits}"
                            style="min-height: 770px;"></textarea>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><input type="submit" value="保存"></td>
          </tr>
          <tr>
            <td>
              <table class="table">
                <tr>
                  <td><label class="control-label" for="input1">呪文発動クラス</label>
                    <input class="form-control"
                    name="spellcasting_class" type="text" value=""
                    th:value="*{spellcasting_class}" /></td>
                  <td><label class="control-label">呪文発動能力</label>
                    <select class="form-control"
                    name="spellcasting_ability">
                      <option value="">---</option>
                      <option th:value="知力" th:text="知力"
                        th:selected="'知力' == *{spellcasting_ability}"></option>
                      <option th:value="判断力" th:text="判断力"
                        th:selected="'判断力' == *{spellcasting_ability}"></option>
                      <option th:value="魅力" th:text="魅力"
                        th:selected="'魅力' == *{spellcasting_ability}"></option>
                  </select></td>
                  <td><label class="control-label">呪文セーヴ難易度</label>
	                  <p class="value" th:text="*{spell_save_dc}" />
                  </td>
                  <td><label class="control-label">呪文攻撃ボーナス</label>
                  	 <p class="value" th:text="*{spell_attack_bonus}" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td id="header2">
              <table class="table">
                <tr>
                  <td>身体的特徴</td>
                  <td>
                    <table class="table">
                      <tr>
                        <td><label class="control-label">年齢</label>
                          <input class="form-control" name="age"
                          type="text" value="" th:value="*{age}" /></td>
                        <td><label class="control-label">身長</label>
                          <input class="form-control" name="height"
                          type="text" value="" th:value="*{height}" /></td>
                        <td><label class="control-label">体重</label>
                          <input class="form-control" name="weight"
                          type="text" value="" th:value="*{weight}" /></td>
                      </tr>
                      <tr>
                        <td><label class="control-label">目</label>
                          <input class="form-control" name="eyes"
                          type="text" value="" th:value="*{eyes}" /></td>
                        <td><label class="control-label">肌</label>
                          <input class="form-control" name="skin"
                          type="text" value="" th:value="*{skin}" /></td>
                        <td><label class="control-label">髪</label>
                          <input class="form-control" name="hair"
                          type="text" value="" th:value="*{hair}" /></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><input type="submit" value="保存"></td>
          </tr>
        </table>

        <input class="btn" type="hidden" name="charaKey" value=""
          th:value="*{charaKey}" />
      </form>
      <table class="table table-no-border">
        <tr>
          <td class="text-right"><form action="#"
              th:action="@{/chara_delete}" th:object="${playerChara}"
              method="GET">
              <input type="hidden" name="charaKey" value=""
                th:value="*{charaKey}" /> <input type="submit"
                value="削除">
            </form></td>
        </tr>
      </table>
      <a href="" th:href=@{/}>キャラクターリストへ戻る</a>
    </div>
  </div>
</body>
</html>